@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section {
  margin-bottom: 150px;
}

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(230, 222, 222);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}
.name {
  text-transform: uppercase;
  color: brown;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav-links li {
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(230, 222, 222);
}
.nav-links a:hover {
  color: brown;
  font-size: 16px;
}
/* Icons */
.top-react-icons {
  font-size: 1.5rem;
  /* pointer: cursor; */
}
.top-react-icons:hover {
  font-size: 1.8rem;
  color: white;
}
.burger {
  display: none;
}
/* .burger div {
  width: 22px;
  height: 2px;
  background-color: rgb(230, 222, 222);
  margin: 5px;
} */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    cursor: pointer;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    transform: translate(0%);
  }
}

/* Background animation */
.animation-area {
  background: black;
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
}
.box-area {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/* INTRO */
.intro-text {
  width: 100%;
  z-index: 1;
  color: rgb(230, 222, 222);
  padding: 220px;
  font-family: "Poppins", monospace;
}

h1 {
  font-size: 50px;
  position: relative;
  width: max-content;
}
h1 span {
  color: brown;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: black;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.05em;
  background: rgb(255, 252, 252);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: gray;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .intro-text {
    padding-left: 90px;
  }
  h1 {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .intro-text {
    padding-left: 80px;
  }
  h1 {
    font-size: 25px;
  }
  .subtitle {
    font-size: 15px;
  }
}

/* About section */
.about-area {
  /* height: 100vh; */
  background-color: black;
  color: #f5f5f5;
  margin: 100px;
  padding: 100px 200px;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
}
.about-title {
  padding: 0px 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 3px;
  opacity: 0;
  animation: example 3s ease 6s 1 forwards;
}
@keyframes example {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-title::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: brown;
  width: 100px;
  bottom: -12px;
}
.about-text {
  color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .about-area {
    margin: 80px;
    padding: 80px 100px;
  }
}
@media screen and (max-width: 768px) {
  .about-area {
    margin: 50px;
    padding: 80px 50px;
  }
}

/* Skill Section */
.skill-area {
  background-color: #f5f5f5;
  padding: 25px 0px;
  width: 100%;
  height: 100vh;
}
.skill-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 3px;
}
.skill-title::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: brown;
  width: 50px;
  bottom: -790px;
  /* bottom: -12px; */
}
.skill-images {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr)); */
}
.images {
  position: relative;
  width: 250px;
  height: 200px;
  object-fit: contain;
  margin: 10px 15px;
}
@media screen and (max-width: 1024px) {
  .skill-area {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .skill-area {
    height: auto;
  }
  .images {
    width: 150px;
    height: 100px;
  }
}

/* Projects Section */
.project-area {
  display: flex;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  height: 100vh;
}
.project-title {
  width: 20%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  opacity: 0;
  animation: example 2s ease 3s 1 forwards;
}
.project-title::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: brown;
  width: 50px;
  /* bottom: -790px; */
}
/* .projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: black;
}
.project-card {
  display: flex;
  width: 20%;
} */
.projects-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.projects-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.projects-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.projects-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  font-family: "Poppins", sans-serif;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  cursor: pointer;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
  /* opacity: 0.7; */
  /* background-color: #27232e; */
  background-color: #f5f5f5;
  color: black;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-images {
  position: relative;
  height: 200px;
  width: 350px;
  display: block;
  overflow: hidden;
  border-radius: 5px;
}

.card-title {
  grid-area: auto;
  box-sizing: border-box;
  margin-top: 20px;
  letter-spacing: 1px;
}
.card p {
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  .card-images {
    height: 200px;
    width: 200px;
  }
  .project-area {
    display: block;
    padding: 25px 0px;
  }
  .project-title {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

/* Portfolio page */
.projects-page {
  background-color: black;
  color: gray;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  height: auto;
  padding: 100px 250px;
}
.projects-page-title {
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}
.project-pages-about {
  color: gray;
  font-size: 20px;
  padding: 20px 0px;
  text-align: justify;
}
.project-pages-subtitle {
  color: whitesmoke;
  letter-spacing: 2px;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 25px;
}
.project-pages-img {
  padding: 10px;
  margin: 30px 0px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}
.project-pages-tech,
.project-pages-resources {
  padding: 30px 0px;
}
.project-pages-tech hr,
.project-pages-resources hr {
  width: 30vw;
}
.projects-page a {
  text-decoration: none;
  color: brown;
}
.projects-page ul {
  list-style-type: circle;
  list-style-position: inside;
}
.project-pages-button {
  width: 20%;
  color: #000;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
  float: right;
  margin: 20px 0px;
  cursor: pointer;
}
.project-pages-button:hover {
  background-color: rgb(243, 203, 203);
  font-weight: 600;
  color: black;
}
