/* Skill Section */
.skillArea {
  background-color: #f5f5f5;
  padding: 50px 0px;
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(54, 5, 5);
  font-size: 30px;
  letter-spacing: 3px;
}
/* .title::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: brown;
  width: 50px;
  bottom: -790px;
} */
.skillImages {
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.images {
  position: relative;
  width: 250px;
  height: 200px;
  object-fit: contain;
  margin: 15px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #6d635f;
}
.images img {
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .skillArea {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .skillArea {
    height: auto;
  }
  .images {
    width: 150px;
    height: 100px;
  }
}
